.textNameFont {
  font-family: Arial, Helvetica, sans-serif;
}

.AllTimeCenter {
     position: flex;
     margin-top: 30px;
}
.textMovedown {
  margin-top: 40px;
}

.textCenter {
  text-align: center;
}

.TextQuote {
  font-size: 8px;
  font-weight: 20;
}

.textMain {
   font-size: 18px;
   font-weight: 55;
   margin: 20px;
   padding-left: 95px;
   padding-right: 95px;
}

.textSong {
 font-size: 22px;
}

.socialLink li {
  display: inline;
  margin: 5px;
  color: #444;
}

.socialLink a {
   opacity: 0.3;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.socialLink img {
   margin-top: 15px;
   width: 3%;
   padding-left: 50px;
   padding-right: 50px;
}

.aeroBefore{
    content: '';
    top: 0; bottom: 0;
    left: 0; right: 0;
    filter: blur(-10px);
    z-index: -1;
    margin: -30px;
}

.aeroGlass{
    top: 0; bottom: 0;
    left: 0; right: 0;
    width: 800px;
    height: 600px;
    line-height: 2;
    margin: auto;
    border-radius: 5px;
    background: rgba(249, 240, 255, 0.3);
    box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, .3);
    overflow: hidden;
}

.aeroGlassSelf{
    z-index: 1;
    margin-top: 0.8cm;
    width: 800px;
    height: 50px;
}

*{margin: 0;padding:0;}
.avatarImg{

    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -15px auto ;
    border: 3px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.avatarImg p {
    z-index: 1;
}
.avatarImg img{
    width: 150px;
    height: 150px;
}
.songTextFix {
  font-size: small;
}
a {
  text-decoration: none;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

.musicMoveDown {
  margin-top: 4cm;
}

body {
  background: url('./img/background/3177905.jpg');
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/*Footer*/
.content {
  min-height: calc(50vh - 90px);
}
.footerText {
  color:  	  #E8E8E8;
}
.footer a {
  color:  	  #E8E8E8;
}
.footer {
  font-size: 9px;
  height: 50px;
}
